*{
    font-family: 'Poppin', sans-serif;
    list-style: none;
    box-sizing: border-box;
}

/* scrollbar*/

html::-webkit-scrollbar{
    width: 7px;
    background: #474747;
}

html::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 5px;
}

/* navbar*/

.nav-bar{
    position: fixed;
    width: 100vw;
    padding-top: 1vh;
}

.nav-bar ul{
    text-align: right;
    padding-right: 50px;
}

.nav-bar li{
    padding-right: 1vw;
    display: inline;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
}

/*content*/

body{
    overflow-x: hidden;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

main{
    z-index: -1 !important;
    position: absolute;
    color: white;
    left: 0;
    top: 0;
}


.perfil{
    width: 100vw;
    max-width: 2000px;
    height: 100vh;
    display: flex;
    /*grid-template-columns: 1fr 1fr;*/
    justify-content: center;
    align-items: center;
}

.imagen{

    outline: auto;
    margin-left: 12.5vw;
    margin-right: 5vw;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.texto{
    margin-right: 12.5vw;
    margin-left: 5vw;
}

.info{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    width: 100%;
    height: calc(50% - 10%);
    padding: 20px;
}

.arrow{
    position: absolute;

    width: 0px;
    height: 1000px;

}
