@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital@0;1&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

/* scrollbar*/

/*

html::-webkit-scrollbar{
    width: 7px;
    background: #474747;
}

html::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 5px;
} */

/* background */

video{
    overflow:  hidden;
    position:  fixed;
    top:       0;
    left:      0;
    width: 100vw;
    height:100vh;
    object-fit:cover;
    z-index:   -1;
}

video > source{
    width: 100%;
    height:100%;
}

/* navbar*/

.nav-bar{
    position: absolute;
    width: 100vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    display: flex;
    justify-content: right;
    z-index: 2;
}

.nav-bar nav{
    width: 20vw;
}

.nav-bar ul{
    align-self: center;
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-bar li{
    padding: 0 0.5vw 0 0.5vw;
    display: inline-flex;
    align-self: center;
}

.nav-bar a{
    color: #eee;
    font-size: 1vw;
    text-decoration: none;
}

/*content*/

.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.frame{
    /*
    background: rgba(255,0,0,.25);
    */
    width:80%;
    height:80%;
    align-self: center;
}


.home{
    z-index: -2;
    opacity: 0;
    display: inline-flex;
}

.first-section{
    height:100%;
    width: 35%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.img-frame{
    width: 25vw;
    height: 25vw;
    background: #eee;
    align-self: center;
    display: flex;
    justify-content: center;
}

.img-frame > img{
    width:98%;
    height:98%;
    align-self: center;
    object-fit: cover;
}

.second-section{
    height:100%;
    width:65%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eee;
}

.sub-container-0{
    height:40%;
    width:90%;
    padding: 0;
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 25%;
    align-self: center;
    font-size: 6vh;
}

.sub-title{
    padding: 0 0 5vh 0;
    margin: 0;
    width: 100%;
    height: 10%;
    align-self: center;
    font-size: 3vh;
}

.text{
    padding: 0;
    margin: 0;
    width: 100%;
    align-self: center;
    font-size: 1.8vh;
}

.proyectos{
    z-index: -2;
    opacity: 0;
    display: inline-flex;
}

.curriculum{
    z-index: -2;
    opacity: 0;
    display: inline-flex;
}

.active{
    z-index: 1;
    opacity: 1;
}

@keyframes in {
    0%{
        z-index: -2;
        opacity: 0;
    }
    100%{
        z-index: 1;
        opacity: 1;
    }
}

@keyframes out {
    0%{
        z-index: 1;
        opacity: 1;
    }
    100%{
        z-index: -2;
        opacity: 0;
    }
}