@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital@0;1&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

body{
    overflow: hidden;
}

/* background */

.video{
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100svh;
    padding: 0;
    margin: 0;
}

video{
    opacity: 1;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    object-fit:cover;
    z-index:   -1;
}

video > source{
    width: 100%;
    height:100%;
}

/* navbar*/

.nav-bar{
    position: absolute;
    width: 100vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    display: flex;
    justify-content: right;
    z-index: 2;
}

.nav-bar nav{
    width: 25vw;
}

.nav-bar ul{
    align-self: center;
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-bar li{
    padding: 0 0.5vw 0 0.5vw;
    display: inline-flex;
    align-self: center;
    color: #eee;
    font-size: 1vw;
    text-decoration: none;
}

.nav-bar li:hover{
    cursor: pointer;
}

.nav-bar a{
    text-decoration: none;
    color: #eee;
    font-size: 1vw;
}

/*content*/

.banner{
    background: #101010;
    opacity: 0;
    z-index: -5;
    width:100vw;
    height:100svh;
    position: absolute;
    display: flex;
    padding:0;
    margin: 0;
    top: 0;
    left: 0;
    justify-content: center;
    animation: banner-animation 5s;
}

.banner > img{
    width:10vh;
    height:10vh;
    align-self: center;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width:100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.frame{
    width:0;
    height:0;
    z-index: -2;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    display: inline-flex;
}

/* HOME */

.first-section{
    height:100%;
    width: 35%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.img-frame{
    width: 25vw;
    height: 25vw;
    background: #eee;
    align-self: center;
    display: flex;
    justify-content: center;
}

.img-frame > img{
    width:98%;
    height:98%;
    align-self: center;
    object-fit: cover;
}

.second-section{
    height:100%;
    width:65%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eee;
}

.sub-container-0{
    height:40%;
    width:90%;
    padding: 0;
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 2;
    align-self: center;
    font-size: 6vh;
}

.sub-title{
    padding: 0 0 5vh 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
    align-self: center;
    font-size: 3vh;
}

.text{
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 8;
    align-self: center;
    font-size: 1.8vh;
}

/* PROYECTOS */

.block3{
    height: 100%;
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.img-frame-2{
    width: 25vw;
    height: 15vw;
    padding: 0;
    margin: 0;
    background: #555;
    align-self: center;
    display: flex;
    justify-content: center;
}

.img-frame-2 > a{
    width:99%;
    height:99%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.img-frame-2:hover{
    cursor: pointer;
}

.img-frame-2 > a > img{
    width: 100%;
    height:100%;
    align-self: center;
    object-fit: cover;
}

/* About */

.frame:nth-child(3){
    justify-content: center;
}

.block4{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}

.img-frame-3{
    width: 15vw;
    height: 15vw;
    padding: 0;
    margin: 0;
    background: #555;
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

.img-frame-3 > a{
    width:99%;
    height:99%;
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}

.img-frame-3:hover{
    cursor: pointer;
}

.img-frame-3 > a > img{
    width: 100%;
    height:100%;
    align-self: center;
    object-fit: cover;
    border-radius: 100%;
}

/* mobile version */

@media (max-width: 1200px){
    
    .nav-bar nav{
        width: 100vw;
    }
    
    .nav-bar li{
        padding: auto;
        font-size: 3vw;
    }
    
    .nav-bar a{
        font-size: 3vw;
    }

    .frame{
        flex-direction: column;
    }

    .first-section{
        height:35%;
        width: 100%;
    }
    
    .second-section{
        height:65%;
        width:100%;
    }

    .img-frame{
        width: 27vh;
        height: 27vh;
    }

    .sub-container-0{
        height:90%;
        text-align: center;
    }

    .block3{
        width: 100%;
        height: 33.3333%;
    }

    .block4{
        width: 100%;
        height: 25%;
    }

    .img-frame-2{
        width: 25vh;
        height: 15vh;
    }

    .img-frame-3{
        width: 15vh;
        height: 15vh;
    }

}

@media (max-width: 500px){

    .nav-bar nav{
        width: 100vw;
    }
    
    .nav-bar li{
        padding: 0 1vw 0 1vw;
        font-size: 4vw;
    }
    
    .nav-bar a{
        font-size: 4vw;
    }
    
    .title{
        font-size: 4vh;
    }

}

@media (max-width: 377px){
    
    .title{
        font-size: 3vh;
    }

    .sub-title{
        font-size: 2vh;
    }

}

/* Animaciones y estados */

.active{
    z-index: 1;
    opacity: 1;
    width:80%;
    height:80%;
    position:static;
    align-self: center;
}

@keyframes in {
    0%{
        z-index: -2;
        opacity: 0;
    }
    100%{
        z-index: 1;
        opacity: 1;
    }
}

@keyframes out {
    0%{
        z-index: 1;
        opacity: 1;
    }
    100%{
        z-index: -2;
        opacity: 0;
    }
}

@keyframes banner-animation {
    
    0%{
        opacity: 1;
        z-index: 5;
    }
    50%{
        opacity: 1;
        z-index: 5;
    }
    100%{
        opacity:0;
        z-index: -20;
    }
}